h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.introduction {
    text-align: center;
    margin-bottom: 50px;
}
.project_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.project {
    text-align: center;
}
.project_img {
    height: 300px;
}
.project_title {
    text-align: center;
    font-size: 20px;
}
.project_btn {
    font-size: 16px;
    border-color: rosybrown;
    border-radius: 8px;
    padding: 5px;
    color: white;
    width: 150px;
    background-color:rosybrown;
}